# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.pyc

# Arquivos sensíveis
.env
config.py
config_local.py
secrets.py
credentials.json

# VS Code
.vscode/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# ESP32 / MicroPython
*.bin
*.uf2
boot.py.bak
main.py.bak

# Arquivos locais de deploy/teste
deploy/
.flash/
build-esp32/